*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
    
}

html,body{
    width: 100%;
    height: 100%;
}

#minicircle{
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s ;
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    z-index: 999999;
    border-radius: 50%;

}

.bounding{
     width: fit-content;
     overflow: hidden;
    
}

.bounding .boundingelem{
    transform: translateY(100%);
}

#main{
    width: 100%;
    background-color: #000;

}

#hero{
    position: relative;
    width: 100%;
    height: 100vh;
    color: #fff;
    background-color: #000;
}

#nav{
    display: flex;
    align-items: center;
    position: relative;
    justify-content:space-between ;
    width: 100%;
    padding: 20px 40px; 
    color: #fff;

}
#nav a{
    font-size: 030px;
    text-decoration: none;
    color: #fff;
}

#nav a:hover{
    text-shadow: 2px 2px 4px rgb(128, 128, 128);
}
#heading{
    margin-top: 90px;
}

#heading h1{
    
    margin-left: 30px;
    line-height: 0.9;
    /* font-family: General Sans Medium; */
    font-size: 9vw;
    text-transform: uppercase;
    font-weight: 900;
    transition: 0.4s;
    color: #f8fafa; 
}

#heading #firsth1:hover{
    
    color:rgba(251, 255, 0, 0.945);
    text-shadow:
    0 0 2px #f3fafa,
    0 0 2px #f6fcfc,
    0 0 2px #f7fdfd,
    0 0 2px #f6fbfc,
    0 0 2px #e9f1f1,
    0 0 2px #f5f6f7;
}

#heading #secondh1:hover{
    opacity: 0.5;
    color: rgb(255, 0, 234);
}

#heading #secondh1{
    margin-left: 230px;
    color: whitesmoke;
    opacity: 0.8;
}

.blocktext{
    width: fit-content;
   
}
/* .blocktext :hover{
    background-color: #000;
}
.blocktext #secondh1:hover{
    background-color: white;
    color: red;
} */
.blocktext h5{
    text-align: right;
    text-transform: uppercase;
}

#smallheading{
   
    margin-top: 100px;
  
    margin-right: 40px;
}

#smallheading h5{
    text-transform: uppercase;
    text-align: right;
    margin-top: .5vw;
    font-size: 1vw;
}

#herofooter{
    /* background-color:red; */
    padding: 0 2vw;
    width: 100%;
    position:absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#herofooter a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#herofooter #iconset{
    display: flex;
    gap: 05px;
}

#herofooter .circle{
    display: flex;
    align-items: center;
    justify-content:center ;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;

}

/* <------------------second page css  starts here----------> */

#secondpage{
    color: #fff;
    padding-right: 10vw;
    padding-top: 150px;
    background-color: #000;
    width: 100%;
    height:max-content; 
}
.elem{

    position:  relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
    border-top:1px solid #888;
}
 
.elem h1{

    opacity: 0.5;
    text-transform: uppercase;
    font-size: 7.6vw;
}

.elemlast{
    border-bottom: 2px solid #888;
}

.elem img{
    display: none;
    height: 100%;
    z-index: 999;
    position: absolute;
    
}

#about{
    display: flex;
    align-items: center;
    gap: 50px;
    /* justify-content: space-between; */
    color: white;
    padding: 10vw 5vw;
    padding-left: 30vw;
    width: 100%;
    background-color: #000;
}


#aboutimage img{
    height: 25vw;
    border-radius: 50%;
    
}

#abouttext{
    width: 25rem;
    
}
#abouttext h5{

    text-transform: uppercase;
    opacity: 0.87;
    margin-bottom: 10px;

}

#abouttext p{

    line-height: 1.7;
    margin-bottom: 30px;
}

#abouttext a{
    padding: 12px 22px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    border-radius: 100px;

}


#subscribe{
    padding-bottom: 7vw;
    padding: 20px 30px;
    background-color: #000;
    color: #fff;

}

#subscribe h5{
    text-transform: uppercase;
    opacity: 0.6;
}

#subscribe h3{
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 14px;
}

#footer{
   
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 40px 30px;
   
}

#footerleft{

    display: flex;
    gap :20px; 

}

#footerleft h5{
    color: #e9f1f1;
}

#footerright{

   
    display: flex;
    gap: 20px;

}

#footerright a{
    color: #e9f1f1;
    text-decoration: none;
    text-transform: uppercase;
    
}

